
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 33vw; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { position: fixed; width: 100%; height: 100% }
#unity-canvas { background: #BF2D00 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
body, html { 
    height: 100vh;
    padding: 0;
    margin: 0;
    background: url(./skybox.webp) center center no-repeat;
    background-size: cover;
    font-family: monospace;
}

.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input, textarea{
    transition: border-color .1s,box-shadow .1s;
    border: 1px solid #d9d9d9;
    border-radius: 0.1875em;
    background: rgba(0,0,0,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.06), 0 0 0 3px rgba(0,0,0,0);
    color: inherit;
    font-size: 1.125em;
    margin: 20px 20px 0 !important;     
}

textarea{
    padding-top: 10px !important;
    height: 75px !important;
}

.header-ettios {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    width: 100%; 
    height: auto; 
    background-color: black; 
    box-shadow: 3px 3px 20px 4px #000000b8;
    padding: 0;
}

.logo-content{

    display: flex;
    align-items: center;
    padding: 15px;
}

.impossible{
    color:white; font-family: monospace;
}

button{
    cursor: pointer;
    font-size: 16px;
    font-family: monospace;
}

.glow-on-hover {
    margin: 0 15px;
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
